{% extends "skeleton.html" %}

{% block title %}The current time{% endblock %}

{% block body %}

<p><a href="/search">wyszukaj</a></p>

<h2>Moje zdjęcia</h2>

{% for photo in photos %}
    [tu jest zdjęcie o opisie {{photo.desc}}]
{% endfor %}

<form action="/upload" method="POST" enctype="multipart/form-data">
    <fieldset>
        <legend>Dodawanie nowego zdjęcia.</legend>
        {% csrf_token %}
        <div class="form-fields">
        <p>
            <label for="photo-upload-file">Plik</label>
            <input id="photo-upload-file" type="file" name="photo"/>
        </p>
        <p>
            <label for="photo-upload-desc">Opis</label>
            <textarea id="photo-upload-desc" name="desc" cols="100" rows="10"></textarea>
        </p>
        </div>
        <p><input type="submit" value="Dodaj zdjęcie!" class="action add-photo"/></p>
    </fieldset>
</form>

{% endblock %}
