{% extends "skeleton.html" %}

{% block title %}myFotka{% endblock %}

{% block body %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="columns">
<div class="left-column">

<form method="post" action="/login" class="narrow">
{% csrf_token %}
<p class="form-field">
    <label for="login-username">Nazwa użytkownika</label>
    <input id="login-username" name="username"/>
</p>
<p class="form-field">
    <label for="login-password">Hasło</label>
    <input id="login-password" name="password" type="password"/>
</p>
<p class="form-submit">
    <input type="submit" value="Zaloguj się" />
</p>
</form>

</div>
<div class="right-column">

<p>Nie masz konta? <a href="/register">Zarejestruj się!</a></p>

</div>
</div>

{% endblock %}
