<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{{STATIC_URL}}css/style-1.0.min.css" type="text/css" rel="stylesheet"/>
    {% block scripts %}{% endblock %}
</head>
<body>
    <div class="container">
    <div class="header">
        <h1><a href="/"><i>myFotka</i></a></h1>
        {% if user.is_authenticated %}
            <p>Witaj, <a class="with-icon icon-user" href="/gallery/{{user.id}}/1">{{user}}</a>! <a href="/logout" class="with-icon icon-logout">Wyloguj się</a></p>
        {% else %}
            <p>Witaj, <span class="with-icon icon-anonymous">nieznajomy</span>!</p>
        {% endif %}
    </div>
    <div class="body">
        {% block body %}{% endblock %}
    </div>
    <div class="footer">
    </div>
    </div>
</body>
</html>
